.ServiceCart {
    background: #ffffff;
    height: 100%;
    box-shadow: 0 0 15px 3px #f9e7ff;
    border-radius: 15px;
    text-align: right;
}
.ServiceCartBoxText{
    padding: 10px;

}

.CartTitle {
    color: #4d486e !important;
}

.CartDescription {
    color: #a3a0b6 !important;
}
.CartLink {
    color: #fbb346 !important;
    text-decoration: none;

}

.CartImg {
    /*aspect-ratio: 5/8 ;*/
    height: 75px;
    width: 90px;
}
.HomeServiceCart{
    background-color: #efefff;
    border-radius: 20px;
}